<table class="table">
    <tbody>
        <tr>
            <td>
                <h3>Audit Id :</h3>
                <td>
                    <td>
                        <h3>{{auditId}}</h3>
                        <td>
        </tr>
        <tr>
            <td>
                <h3>Project Execution Status :</h3>
                <td>
                    <td>
                        <h3>{{projectExecutionStatus}}</h3>
                        <td>
        </tr>
        <tr>
            <td>
                <h3>Remedial Action Duration :</h3>
                <td>
                    <td>
                        <h3>{{remedialActionDuration}}</h3>
                        <td>
        </tr>
    </tbody>
</table>